<%= form_with(model: curriculo, local: true) do |form| %>
  <% if curriculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curriculo.errors.count, "error") %> prohibited this curriculo from being saved:</h2>

      <ul>
      <% curriculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
